/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Qrogue.iml
/.idea/vcs.xml
/.env_qrogue
powershell.txt
installer/qrogue.config
test/installer/qrogue.config
qrogue_game.config
*.pyc
/Qrogue - Verknüpfung.lnk
