/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Qrogue.iml
/.idea/vcs.xml
/.env_qrogue
powershell.txt
qrogue/data/qrogue.config
/qrogue/data/qrogue_launch.config
qrogue/test/installer/qrogue.config
*.pyc
/Qrogue - Verknüpfung.lnk
/MANIFEST
/dist/qrogue-*.tar.gz
